*,*::after,*::before {
box-sizing: border-box;
margin: 0;
padding: 0;
user-select: none;
user-zoom: 3;
}

body {
    background-color:rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
    /* color:gold; */
}

.app  h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-block-start:1rem;
}

.app {
width: 100vw;
height: 100vh;
display:flex;
flex-direction:column;
justify-content:start;
align-items:center;
gap: 3vmin;
}


main {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    text-align: center;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    column-gap:10vw;
    padding: 3vmin;
    border-radius: 10px;
    margin-bottom: 3vw;
}

/* main > * {
    align-self: center;
} */

.one , .two {
background-color: rgba(0, 0, 0, .4);
display:flex;
flex-direction: column;
justify-content:space-evenly;
align-items:center;
width: 60%;
height: 90%;
border-radius: 10px;
}

.two {
    background-color: rgba(0, 0, 0, .4);
}


input[type='number'] , select {
    font-size: 2rem;
    text-align: center;
    border: none;
    background-color: transparent;
    font-weight: bold;
    outline: none;
}

input[type='number'] {
    width: 50%;
    height: 10%;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(0, 0, 0, .1);
    padding: 0.5rem;
    color: gold;
}

select {
    width: 20%;
    color:white;
}

img {
    width: 50%;
    height: 40%;
}


